@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fortawesome/fontawesome-free/css/all.css';

body {
  min-height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(45deg, #d9d9d9 25%, transparent 25%), linear-gradient(-45deg, #d9d9d9 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d9d9d9 75%), linear-gradient(-45deg, transparent 75%, #d9d9d9 75%);
  background-position: 0 0, 0 0.25rem, 0.25rem -0.25rem, -0.25rem 0;
  background-size: 0.5rem 0.5rem;
  font-family: 'Courier New', Courier, monospace;
}
